<p style="color: green"><%= notice %></p>

<%= render @project %>

<div>
  <%= link_to "Back to projects", projects_path ,class:"btn btn-search" %> |
  <%= link_to "Edit this project", edit_project_path(@project), class:"btn btn-search" if current_user&.admin? %> 

  <%= button_to "Destroy this project", @project, method: :delete,class:"btn btn-search" if current_user&.admin? %>
</div>
