<%= form_with(model: post, data: {controller: "emoji-picker"}) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  <%= form.label :category_id,"Category" %>
  <%= form.select :category_id, options_from_collection_for_select(Category.all, :id , :name, @post.category_id), include_blank: "Select Category", class: "form-select" %>
  </div>
  
  <div data-controller="emoji-picker">
    <div data-emoji-picker-target="pickerContainer"></div>
    <div>
      <%= form.label :body, style: "display: block;" %>
      <%= form.rich_text_area :body, data: {
        emoji_picker_target: "trixEditor"
      } %>
    </div>
  </div>
  <%= render "posts/image_form", form: form %>
  <div>
    <%= form.submit %>
  </div>
<% end %>
