<div class="container">
  <!-- Display the post content -->
  <%= render @post %>
  <% if current_user == @post.user %>
    <%= link_to "Edit this post", edit_post_path(@post), class: "btn btn-secondary btn-sm" %>
    <%= button_to "Destroy this post", @post, method: :delete,data: { confirm: "Are you sure?" }, class: "btn btn-danger btn-sm"%>
  <% end %> 
  <!-- Post actions -->
  <div class="mt-3">
    <%= link_to "Back to posts", posts_path, class: "btn btn-outline-secondary btn-sm" %>
  </div>
</div>

<hr>

<div class="container mt-4">
  <!-- Comment form -->
  <%= render 'comments/form', post: @post, comment: @post.comments.build, submit_label: "Reply" %>
</div>

<hr>

<div class="container mt-4">
  <h4>Comments</h4>
  <% @comments.each do |comment| %>
    <%= render 'comments/comment', post: @post, comment: comment %>
  <% end %>
</div>
